
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ebdd67;
  }
  
  
  nav {
    background-color: #b69494;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    color: #160202;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #007BFF;
  }
  
  
  h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }


 